{% extends "base.html.twig" %}

{% block content %}
    <h1>Paiement</h1>
    <p>
        Montant de la commande: {{ total|number_format(2, '.', ' ') }}
    </p>

    <script src="https://js.stripe.com/v3/"></script>

    <form method="post" id="payment-form" data-stripe-token="{{ stripe_public_key }}">
        <div class="form-row">
            <label for="card-element">
                Carte bancaire
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button class="btn btn-primary">Payer</button>
    </form>

    <script src="{{ asset('js/stripe.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/stripe.css') }}">
{% endblock %}
